* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containter {
    height: 100vh;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.header1 {
    flex-basis: 160px;
    background-color: blue
}

.header2 {
    flex-basis: 200px;
    background-color: coral;
    justify-content: center;
    align-items: center;


}



.bottone1 {
    border-radius: 15px;
    width: 250px;
    height: 50px;
    margin-right: 30px;
}

.bottone2 {
    border-radius: 15px;
    width: 350px;
    height: 50px;
    background-color: black;
    color: white;

}


.title {
    font-size: 100px;
    color: aliceblue;
}

.cotitle {
    color: black;
    font-size: 90px;




}

.par {
    color: black;
}

p {
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}

.mainmenu {
    flex-grow: 1;
    background-color: brown;

}

.first {
    background-color: antiquewhite;
    flex-basis: 200px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.second {
    background-color: white;
    flex-basis: 200px;
    flex: wrap;
    align-items: flex-start;
}

.third {
    background-color: antiquewhite;
    flex-basis: 200px;
    align-items: flex-end;
    flex: wrap;
}

.fourth {
    background-color: white;
    flex-basis: 300px;
    justify-content: center;
    align-items: center;
}




.endmenu {
    background-color: rgb(87, 165, 42);
    flex-basis: 250px;
    flex-direction: row;
    justify-content: space-around;


}

span {
    font-size: 50px;
    color: blue;
}

h2 {
    font-size: 70px;
    color: blue;
}